<% @available_flights.each do |flight| %>
  <h3> Departing: </h3>
  <%= flight.departure_airport.code %>
  <h3> Arriving: </h3>
  <%= flight.arrival_airport.code %>
  <h3> At: </h3>
  <%= flight.departure_time %>

<% end %>
